{% extends "base.html"%}

{% block content %}
<div class="row">
    <div class="col-4">
        <form action="{{ url_for('user.process_register') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.login.label }}
                {{ form.login() }}
                {% for error in form.login.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username() }}
                {% for error in form.username.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email() }}
                {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password() }}
                {% for error in form.password.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password1.label }}
                {{ form.password1() }}
                {% for error in form.password1.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            {{ form.submit() }}
            <a href="{{ url_for('user.login') }}">Уже есть аккаунт? Войдите</a>
        </form>
    </div>
    <div class="col-8">

    </div>
</div>
{% endblock %}