{% extends "base.html"%}

{% block content %}
<div class="row">
    <div class="col-4">
        <form action="{{ url_for('user.process_register') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.login.label }}
                {{ form.login() }}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email() }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password() }}
            </div>
            <div class="form-group">
                {{ form.password1.label }}
                {{ form.password1() }}
            </div>
            {{ form.submit() }}
            <a href="{{ url_for('user.login') }}">Уже есть аккаунт? Войдите</a>
        </form>
    </div>
    <div class="col-8">

    </div>
</div>
{% endblock %}