{% extends "base.html"%}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-body">
                    <h5>{{ product.title }}</h5>
                    <p>Цена: {{ product.price }} ₽</p>
                    <p>Размер: {{ product.size }}</p>
                    <p>Состояние: {{ product.condition }}</p>
                    <p>Описание: {{ product.description }} </p>
                    <p>Продавец: {{ product.owner.username }}</p>
                    <p class="text-muted">Город: {{ product.city }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}