{% extends "base.html"%}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-body">
                    <h5>{{ product.title }}</h5>
                    <p>Цена: {{ product.price }} ₽</p>
                    <p>Размер: {{ product.size }}</p>
                    <p>Состояние: {{ product.condition }}</p>
                    <p>Описание: {{ product.description }} </p>
                    <p>Продавец: {{ product.owner.username }}</p>
                    <p class="text-muted">Город: {{ product.city }}</p>
                    {% if current_user.is_authenticated %}
                    <form method="POST" action="{{ url_for('user.process_wishlist_add') }}">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit">В избранное</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}