{% extends "base.html"%}

{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-3">
        <a href="{{ url_for('product.product_page', product_id=product.id) }}" class="text-decoration-none text-dark">
            <div class="card">
                {% if product.image_filename %}
                <img src="{{ url_for('static', filename='images/products/' + product.image_filename) }}"
                    class="card-img-top" alt="Картинка" style="height: 180px; object-fit: cover;">
                {% endif %}
                <div class="card-body">
                    <h5>{{ product.title }}</h5>
                    <p>Цена: {{ product.price }} ₽</p>
                    <p>Размер: {{ product.size }} </p>
                    <p>Продавец: {{ product.owner.username }}</p>
                    <p class="text-muted">Город: {{ product.city }}</p>
                </div>
            </div>
        </a>
    </div>
    {% else %}
    <p>Товаров пока нет</p>
    {% endfor %}
</div>
{% endblock %}